<%
  # calendar
  calendars = groove_calendars
  # time_entry
  time_entries = groove_time_entries(calendars[0].startdt)
  # hours
  events = groove_events(calendars)
  hours = groove_hours(calendars, events)
  estimated_hours = hours['estimated_hours']
  week_estimated_hours = hours['week_estimated_hours']
  entry_hour_list = groove_entry_hours(calendars, time_entries)
  entry_hours = entry_hour_list['entry_hours']
  week_entry_hours = entry_hour_list['week_entry_hours']
  # css
  style_extends_issues = "padding:1em;"
  style_extends_week = "-webkit-writing-mode:vertical-rl;-ms-writing-mode:tb-rl;writing-mode:vertical-rl;"
%>
<h3>Citrus Groove Calendar</h3>

<table class="cal">
  <thead>
      <tr>
          <th scope="col" title="<%= l(:label_week) %>" class="week-number"></th>
          <% 7.times do |i| %>
            <th scope="col"><%= day_name( (calendars[0].first_wday+i)%7 ) %></th>
          <% end %>
      </tr>
  </thead>
  <tbody>
      <% #for calendar in calendars do %>
      <% calendars.each_with_index do |calendar,index| %>
      <tr>
        <% day = calendar.startdt %>
        <% while day <= calendar.enddt %>
          <% if day.cwday == calendar.first_wday %>
            <%= ("<td class='week-number' style='#{style_extends_week}' title='#{ l(:label_week) }'>#{day.strftime('%B')} ( #{week_entry_hours[index]} / #{week_estimated_hours[index]} h )</td>".html_safe) %>
          <% end %>
          <td class="<%= 'today' if User.current.today == day %>" style="<%= style_week day %>">
            <p class="day-num"><%= day.day %></p>
            <p class="day-num">( <%= nvl_zero entry_hours[day] %> / <%= nvl_zero estimated_hours[day] %> h )</p>
            <% events[day].each do |i| %>
              <% if i.is_a? Issue %>
                <div style="<%= style_extends_issues %> <%= style_ratio i %>" class="<%= i.css_classes %> <%= 'starting' if day == i.start_date %> <%= 'ending' if day == i.due_date %> tooltip">
                  <p><%= "#{i.project}" unless @project && @project == i.project %></p>
                  <%= link_to_issue i, :truncate => 30 %>
                  ( <%= i.done_ratio %> % )
                  <span class="tip"><%= render_issue_tooltip i %></span>
                </div>
              <% else %>
                <span class="icon icon-package">
                  <%= "#{i.project} -" unless @project && @project == i.project %>
                  <%= link_to_version i%>
                </span>
              <% end %>
            <% end %>
          </td>
          <%= '</tr><tr>'.html_safe if day.cwday==calendar.last_wday and day!=calendar.enddt %>
          <% day = day + 1 %>
        <% end %>
      </tr>
      <% end %>
  </tbody>
</table>